<div ng-controller="ValueConstraintController">

    <h5 id="constraintHeader">Value Constraint</h5>

    <table>
        <tbody>
            <tr ng-repeat="d in valueConstraint.defaults">
                <td>
                    <label for="editable">Default URI</label>
                </td>
                <td>
                    <input name="defaultURI" ng-model="d.defaultURI"
                            popover="Value constraint default value URI."
                            popover-title="Default URI" popover-trigger="mouseenter"
                            popover-placement="right"/>
                </td>
                <td>
                    <label for="editable">Default Literal</label>
                </td>
                <td>
                    <input name="defaultLiteral" ng-model="d.defaultLiteral" ng-pattern="/{{ valueConstraint.validatePattern }}/"
                            popover="Value constraint default literal value."
                            popover-title="Default Literal" popover-trigger="mouseenter"
                            popover-placement="left"/>
                    <a href="#" onclick="event.returnValue = false; return false;" ng-click="deleteDefault($index)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <a id="addDefault" ng-click="addDefault()" style="display: block;">
        <i class="fa fa-plus"></i>
        Add Default
    </a>

    <!-- Make ValueDataType a listItem that can be added and removed, but do not show if there is one object in the array -->
    <div id="valueDataType" class="propertyItems">
        <h5>Value Data Type</h5>
        <div class="listItems" ng-repeat="field in valueDataType" sss-field item="{{field}}" html='html/valueDataType.html'></div>
        <a id="addValueDataType" ng-show="!valueDataType.length" ng-click="addValueDataType()" style="display: block;">
            <i class="fa fa-plus"></i>
            Add Value Data Type
        </a>
    </div>

    <div id="template" class="propertyItems">
        <h5>Templates</h5>
        <div class="listItems" ng-repeat="field in templateFields" sss-field item="{{field}}" html='html/template.html'></div>
        <a id="addTemplate" ng-click="addTemplate()" style="display: block;">
            <i class="fa fa-plus"></i>
            Add Template
        </a>
    </div>

    <div id="value" class="propertyItems">
        <h5>Values</h5>
        <div class="listItems" ng-repeat="field in valueFields" sss-field item="{{field}}" html='html/value.html'></div>
        <a id="adValue" ng-click="addValue()" style="display: block;">
            <i class="fa fa-plus"></i>
            Add Value
        </a>

    </div>
</div>
